# Module 01 - Introduction & SparkSession - Exercises

## Instructions

This notebook contains exercises based on the concepts learned in Module 01.

- Complete each exercise in the provided code cells
- Run the data setup cells first to generate/create necessary data
- Test your solutions by running the verification cells (if provided)
- Refer back to the main module notebook if you need help

## Data Setup

Run the cells below to set up the data needed for the exercises.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType, DateType
from pyspark.sql.functions import col, when, lit
import os

# Create SparkSession
spark = SparkSession.builder \
    .appName("Module 01 Exercises") \
    .master("local[*]") \
    .getOrCreate()

# Set data directory
data_dir = "../data"
os.makedirs(data_dir, exist_ok=True)
print("SparkSession created successfully!")
print(f"Data directory: {os.path.abspath(data_dir)}")

# Create sample CSV file for exercises
sample_csv = """Name,Age,Department,Salary
Alice,25,Sales,50000
Bob,30,IT,60000
Charlie,35,Sales,70000
Diana,28,IT,55000
Eve,32,HR,65000"""

with open(f"{data_dir}/employees.csv", "w") as f:
    f.write(sample_csv)
print("Sample CSV file created: employees.csv")

# Create sample JSON file for exercises
sample_json = """{"name": "John", "age": 28, "city": "NYC"}
{"name": "Jane", "age": 32, "city": "LA"}
{"name": "Mike", "age": 25, "city": "Chicago"}
{"name": "Sarah", "age": 30, "city": "Houston"}"""

with open(f"{data_dir}/people.json", "w") as f:
    f.write(sample_json)
print("Sample JSON file created: people.json")

# Create sample Parquet file for exercises
product_data = [
    (1, "Product A", 100, "Electronics"),
    (2, "Product B", 200, "Clothing"),
    (3, "Product C", 150, "Electronics"),
    (4, "Product D", 300, "Home"),
    (5, "Product E", 250, "Clothing")
]

product_schema = StructType([
    StructField("product_id", IntegerType(), True),
    StructField("product_name", StringType(), True),
    StructField("price", IntegerType(), True),
    StructField("category", StringType(), True)
])

df_products_temp = spark.createDataFrame(product_data, product_schema)
df_products_temp.write.mode("overwrite").parquet(f"{data_dir}/products.parquet")
print("Sample Parquet file created: products.parquet")

SparkSession created successfully!
Data directory: /data
Sample CSV file created: employees.csv
Sample JSON file created: people.json
Sample Parquet file created: products.parquet

## Exercises

Complete the following exercises based on the concepts from Module 01.

### Exercise 1: Create a SparkSession

Create a SparkSession with app name 'MyFirstSparkApp' and master set to 'local[*]'.

In [2]:
# Your code here
spark = SparkSession.builder \
          .appName('MyFirstSparkApp') \
          .master('local[*]') \
          .getOrCreate()

### Exercise 2: Create a DataFrame

Create a DataFrame with the following data:
- Names: ['John', 'Jane', 'Mike', 'Sarah']
- Ages: [28, 32, 25, 30]
- Cities: ['NYC', 'LA', 'Chicago', 'Houston']

In [11]:
# Your code here
data = [
    ('John', 28, 'NYC'),
    ('Jane', 32, 'LA'),
    ('Mike', 25, 'Chicago'),
    ('Sarah', 30, 'Houston')
]
df_2 = spark.createDataFrame(data,['Name','Age','City'])
df_2.show()

+-----+---+-------+
| Name|Age|   City|
+-----+---+-------+
| John| 28|    NYC|
| Jane| 32|     LA|
| Mike| 25|Chicago|
|Sarah| 30|Houston|
+-----+---+-------+

### Exercise 3: Display DataFrame

Display the first 3 rows of the DataFrame you created in Exercise 2.

In [5]:
# Your code here
df.show(3)
# Hint: Use the show() method with the numRows parameter

+----+---+-------+
|Name|Age|   City|
+----+---+-------+
|John| 28|    NYC|
|Jane| 32|     LA|
|Mike| 25|Chicago|
+----+---+-------+
only showing top 3 rows

### Exercise 4: Create DataFrame with Explicit Schema

Create a DataFrame with the following data and explicit schema:
- Data: [("Product A", 100.50, 10), ("Product B", 200.75, 5), ("Product C", 150.25, 8)]
- Schema:
  - Name: StringType
  - Price: DoubleType
  - Quantity: IntegerType

In [34]:
# Your code here
product = [("Product A", 100.50, 10), ("Product B", 200.75, 5), ("Product C", 150.25, 8)]
product_schema = StructType([
    StructField('product_id',StringType(),True),
    StructField('product_price',DoubleType(),True),
    StructField('No_Of_Product',IntegerType(),True)
])
df_4 = spark.createDataFrame(product,product_schema)
df_4.show()

+----------+-------------+-------------+
|product_id|product_price|No_Of_Product|
+----------+-------------+-------------+
| Product A|        100.5|           10|
| Product B|       200.75|            5|
| Product C|       150.25|            8|
+----------+-------------+-------------+

### Exercise 5: Create DataFrame using spark.range

Create a DataFrame using `spark.range()` that contains numbers from 1 to 20 (inclusive of 1, exclusive of 20). Then display the DataFrame.

In [7]:
# Your code here
df = spark.range(1,20)
df.show()

+---+
| id|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+

### Exercise 6: Create DataFrame from CSV File

Read the CSV file `employees.csv` from the data directory using `spark.read`. Use schema inference (header=True, inferSchema=True). Display the DataFrame and print its schema.

In [16]:
# Your code here
df_6 = spark.read \
      .format('csv') \
      .option('header','true') \
      .option('inferSchema','true') \
      .load(f'{data_dir}/employees.csv')
df_6.show()
df_6.printSchema()
# Hint: Use spark.read.format("csv") with appropriate options

+-------+---+----------+------+
|   Name|Age|Department|Salary|
+-------+---+----------+------+
|  Alice| 25|     Sales| 50000|
|    Bob| 30|        IT| 60000|
|Charlie| 35|     Sales| 70000|
|  Diana| 28|        IT| 55000|
|    Eve| 32|        HR| 65000|
+-------+---+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

### Exercise 7: Create DataFrame from JSON File

Read the JSON file `people.json` from the data directory using `spark.read`. Display the DataFrame and print its schema.

In [10]:
# Your code here
df = spark.read \
     .format("json") \
     .option("header","true") \
     .option("inferSchema","true") \
     .load(f"{data_dir}/people.json")
df.show()
df.printSchema()
# Hint: Use spark.read.format("json")

+---+-------+-----+
|age|   city| name|
+---+-------+-----+
| 28|    NYC| John|
| 32|     LA| Jane|
| 25|Chicago| Mike|
| 30|Houston|Sarah|
+---+-------+-----+

root
 |-- age: long (nullable = true)
 |-- city: string (nullable = true)
 |-- name: string (nullable = true)

### Exercise 8: Create DataFrame using spark.sql

First, create a temporary view from the DataFrame you created in Exercise 2 (the one with John, Jane, Mike, Sarah). Then use `spark.sql()` to create a new DataFrame that selects only the Name and Age columns where Age is greater than 26. Display the result.

In [12]:
# Your code here
df_2.createOrReplaceTempView("random")
df = spark.sql('SELECT Name,Age from random where age>26')
df.show()
df.printSchema()
# Hint: Use createOrReplaceTempView() to register the DataFrame, then use spark.sql()

+-----+---+
| Name|Age|
+-----+---+
| John| 28|
| Jane| 32|
|Sarah| 30|
+-----+---+

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

### Exercise 9: Create DataFrame from CSV with Explicit Schema

Read the `employees.csv` file again, but this time use an explicit schema instead of schema inference. Define a schema with:
- Name: StringType
- Age: IntegerType
- Department: StringType
- Salary: IntegerType

Display the DataFrame and print its schema.

In [15]:
# Your code here
schema = StructType([
    StructField("Name",StringType(),True),
    StructField("Age",IntegerType(),True),
    StructField("Department",StringType(),True),
    StructField("Salary",IntegerType(),True)
])
df = spark.read.schema(schema).csv(f"{data_dir}/employees.csv")
df.show()
df.printSchema()
# Hint: Define a StructType schema first, then use .schema() in the read operation

+-------+----+----------+------+
|   Name| Age|Department|Salary|
+-------+----+----------+------+
|   Name|NULL|Department|  NULL|
|  Alice|  25|     Sales| 50000|
|    Bob|  30|        IT| 60000|
|Charlie|  35|     Sales| 70000|
|  Diana|  28|        IT| 55000|
|    Eve|  32|        HR| 65000|
+-------+----+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

### Exercise 10: Access DataFrame Schema Information

Using the DataFrame from Exercise 6 (CSV file), print the schema and then access the data type of the "Age" column from the schema. Display both the full schema and the specific column's data type.

In [19]:
# Your code here
df_6.printSchema()
data_type = df_6.schema['Age'].dataType
print(data_type)
# Hint: Use printSchema() and then access schema['ColumnName'].dataType

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

IntegerType()

### Exercise 11: Get DataFrame Basic Information

Using the DataFrame from Exercise 2, get and print:
1. The number of rows
2. The list of column names
3. The number of columns

In [24]:
# Your code here
print(f"Number of Rows {df_2.count()}")
print(f"The list of column names {df_2.columns}")
print(f"The number of columns {len(df_2.columns)}")
# Hint: Use count(), columns, and len()

Number of Rows 4
The list of column names ['Name', 'Age', 'City']
The number of columns 3

### Exercise 12: Create DataFrame using spark.table

First, create a temporary view called "employees_view" from the DataFrame you created in Exercise 6 (CSV DataFrame). Then use `spark.table()` to read from this view and create a new DataFrame. Display the result.

In [25]:
# Your code here
df_6.createOrReplaceTempView("employees_view")
df_11 = spark.table("employees_view")
df_11.show()
# Hint: Use createOrReplaceTempView() first, then spark.table()

+-------+---+----------+------+
|   Name|Age|Department|Salary|
+-------+---+----------+------+
|  Alice| 25|     Sales| 50000|
|    Bob| 30|        IT| 60000|
|Charlie| 35|     Sales| 70000|
|  Diana| 28|        IT| 55000|
|    Eve| 32|        HR| 65000|
+-------+---+----------+------+

### Exercise 13: Create DataFrame using spark.sql with VALUES

Use `spark.sql()` with the VALUES clause to create a DataFrame with the following data:
- ('Apple', 1.50, 10)
- ('Banana', 0.75, 20)
- ('Orange', 2.00, 15)

Name the columns: Product, Price, Stock. Display the DataFrame.

In [27]:
# Your code here
df_13 = spark.sql("SELECT * FROM VALUES ('Apple', 1.50, 10),('Banana', 0.75, 20),('Orange', 2.00, 15) AS t(Product,Price,Stock)")
df_13.show()
# Hint: Use spark.sql("SELECT * FROM VALUES (...) AS t(columns)")

+-------+-----+-----+
|Product|Price|Stock|
+-------+-----+-----+
|  Apple| 1.50|   10|
| Banana| 0.75|   20|
| Orange| 2.00|   15|
+-------+-----+-----+

### Exercise 14: Create DataFrame from Parquet File

Read the Parquet file `products.parquet` from the data directory using `spark.read`. Display the DataFrame, print its schema, and show the number of rows.

In [31]:
# Your code here
df_14 = spark.read \
        .format("parquet") \
        .load(f"{data_dir}/products.parquet")

df_14.show()
df_14.printSchema()
print(f"Number of rows {df_14.count()}")
# Hint: Use spark.read.format("parquet")

+----------+------------+-----+-----------+
|product_id|product_name|price|   category|
+----------+------------+-----+-----------+
|         3|   Product C|  150|Electronics|
|         4|   Product D|  300|       Home|
|         5|   Product E|  250|   Clothing|
|         1|   Product A|  100|Electronics|
|         2|   Product B|  200|   Clothing|
+----------+------------+-----+-----------+

root
 |-- product_id: integer (nullable = true)
 |-- product_name: string (nullable = true)
 |-- price: integer (nullable = true)
 |-- category: string (nullable = true)

Number of rows 5

### Exercise 15: Create DataFrame using .toDF() Method

Create a DataFrame from a list of tuples without specifying column names in `createDataFrame()`. Then use the `.toDF()` method to assign column names: "Student", "Score", "Grade". Display the DataFrame.

Data: [("Alice", 95, "A"), ("Bob", 87, "B"), ("Charlie", 92, "A")]

In [33]:
# Your code here
Data = [("Alice", 95, "A"), ("Bob", 87, "B"), ("Charlie", 92, "A")]
df_15 = spark.createDataFrame(Data).toDF("Name","Marks","Grade")
df_15.show()
# Hint: spark.createDataFrame(data).toDF("col1", "col2", "col3")

+-------+-----+-----+
|   Name|Marks|Grade|
+-------+-----+-----+
|  Alice|   95|    A|
|    Bob|   87|    B|
|Charlie|   92|    A|
+-------+-----+-----+

### Exercise 16: Get DataFrame Column Data Types

Using the DataFrame from Exercise 4 (products with explicit schema), get and print the data types of all columns. Use the `dtypes` property of the DataFrame.

In [44]:
# Your code here
for column_name,data_type in df_4.dtypes:
  print(f"Column :{column_name} And Data Types :{data_type}")
# Hint: Use the .dtypes property

Column :product_id And Data Types :string
Column :product_price And Data Types :double
Column :No_Of_Product And Data Types :int

### Exercise 17: Create DataFrame with spark.range and Custom Step

Create a DataFrame using `spark.range()` that contains even numbers from 0 to 20 (exclusive of 20). Use the step parameter. Display the DataFrame and verify it contains only even numbers.

In [45]:
# Your code here
df_17 = spark.range(0,20,2)
df_17.show()
# Hint: spark.range(start, end, step)

+---+
| id|
+---+
|  0|
|  2|
|  4|
|  6|
|  8|
| 10|
| 12|
| 14|
| 16|
| 18|
+---+

### Exercise 18: Check if DataFrame is Empty

Create an empty DataFrame using `spark.range(0, 0)` and check if it's empty using the `isEmpty()` method. Then create a non-empty DataFrame and check again. Print both results.

In [49]:
# Your code here
df_first = spark.range(0,0)
print(df_first.isEmpty())
df_second = spark.range(3,16)
print(df_second.isEmpty())
# Hint: Use isEmpty() method on DataFrame

True
False

### Exercise 19: Access Schema Fields

Using the DataFrame from Exercise 4, access the schema object and print:
1. The number of fields in the schema
2. The name and data type of the first field
3. The name and data type of the "Price" field

In [57]:
# Your code here
print(f"The number of fields in the schema is {len(df_4.schema.fields)}")
print(f"The name and data type of the first field is {df_4.schema.fields[0]}")
#print(f"The name and data type of the price field is {df_4.schema.fields['product_price']}")
field = next((field for field in df_4.schema.fields if field.name == 'product_price'),None)
if field:
  print(f"field name : {field.name} and field datatype is {field.dataType}")
# Hint: Use df.schema.fields and access field properties

The number of fields in the schema is 3
The name and data type of the first field is StructField('product_id', StringType(), True)
field name : product_price and field datatype is DoubleType()

### Exercise 20: Create DataFrame - Multiple Methods Comparison

Create the same DataFrame using three different methods:
1. Using `spark.createDataFrame()` with column names
2. Using `spark.createDataFrame()` with `.toDF()`
3. Using `spark.sql()` with VALUES

Data: [("X", 10), ("Y", 20), ("Z", 30)]
Columns: "Letter", "Number"

Display all three DataFrames to verify they're the same.

In [60]:
# Your code here
Data = [("X", 10), ("Y", 20), ("Z", 30)]
first_method = spark.createDataFrame(Data,["Letter", "Number"])
second_method = spark.createDataFrame(Data).toDF("Letter", "Number")
third_method = spark.sql("SELECT * FROM VALUES ('X', 10), ('Y', 20), ('Z', 30) AS t(Letter, Number)")
first_method.show()
second_method.show()
third_method.show()
# Create three DataFrames using different methods and display them

+------+------+
|Letter|Number|
+------+------+
|     X|    10|
|     Y|    20|
|     Z|    30|
+------+------+

+------+------+
|Letter|Number|
+------+------+
|     X|    10|
|     Y|    20|
|     Z|    30|
+------+------+

+------+------+
|Letter|Number|
+------+------+
|     X|    10|
|     Y|    20|
|     Z|    30|
+------+------+

## Summary

Review your solutions and compare them with the solutions notebook if needed.

<< end of notebook >>