# SQL Basics Exercise: Assignment

## Instructions

This assignment tests your understanding of SQL basics covered in:
- **102 SQL Basic Statements** (DDL, DML, WHERE, ORDER BY, etc.)
- **103 SQL Keys** (Primary Keys, Foreign Keys, Constraints)

**Complete all exercises below. Write your SQL statements in the code cells provided.**

---

## Exercise 1: Creating Tables with Constraints

### Problem 1.1
Create a table named `students` with the following columns:
- `student_id` (INT) - Primary Key
- `first_name` (VARCHAR(50)) - Required, cannot be NULL
- `last_name` (VARCHAR(50)) - Required, cannot be NULL
- `email` (VARCHAR(100)) - Must be unique
- `age` (INT) - Must be between 16 and 100
- `enrollment_date` (DATE) - Should default to current date if not provided

### Problem 1.2
Create a table named `courses` with:
- `course_id` (INT) - Primary Key
- `course_name` (VARCHAR(100)) - Required
- `instructor` (VARCHAR(100)) - Required
- `credits` (INT) - Must be between 1 and 6
- `max_students` (INT) - Must be greater than 0

### Problem 1.3
Create a table named `enrollments` that links students to courses:
- `enrollment_id` (INT) - Primary Key
- `student_id` (INT) - Foreign Key referencing `students.student_id`
- `course_id` (INT) - Foreign Key referencing `courses.course_id`
- `enrollment_date` (DATE) - Defaults to current date
- Ensure that a student cannot enroll in the same course twice (use UNIQUE constraint on student_id + course_id combination)
- When a student is deleted, their enrollments should be deleted too (CASCADE)
- When a course is deleted, prevent deletion if students are enrolled (RESTRICT)

---

## Exercise 2: Inserting Data

### Problem 2.1
Insert the following students into the `students` table:
- Student ID: 1, Name: "Alice", "Johnson", Email: "alice.j@university.edu", Age: 20
- Student ID: 2, Name: "Bob", "Smith", Email: "bob.smith@university.edu", Age: 19
- Student ID: 3, Name: "Charlie", "Brown", Email: "charlie.b@university.edu", Age: 21
- Student ID: 4, Name: "Diana", "Williams", Email: "diana.w@university.edu", Age: 22

### Problem 2.2
Insert the following courses into the `courses` table:
- Course ID: 101, Name: "Introduction to SQL", Instructor: "Dr. Smith", Credits: 3, Max Students: 30
- Course ID: 102, Name: "Database Design", Instructor: "Dr. Jones", Credits: 4, Max Students: 25
- Course ID: 103, Name: "Data Engineering", Instructor: "Dr. Brown", Credits: 3, Max Students: 20

### Problem 2.3
Insert the following enrollments:
- Alice (ID: 1) enrolls in "Introduction to SQL" (ID: 101)
- Bob (ID: 2) enrolls in "Introduction to SQL" (ID: 101)
- Bob (ID: 2) enrolls in "Database Design" (ID: 102)
- Charlie (ID: 3) enrolls in "Data Engineering" (ID: 103)
- Diana (ID: 4) enrolls in "Introduction to SQL" (ID: 101) and "Database Design" (ID: 102)

---

## Exercise 3: Querying Data

### Problem 3.1
Write a SELECT statement to retrieve all students who are 20 years old or older.

### Problem 3.2
Write a SELECT statement to retrieve all courses with more than 3 credits, ordered by credits in descending order.

### Problem 3.3
Write a SELECT statement to retrieve all enrollments, showing student_id, course_id, and enrollment_date, ordered by enrollment_date (newest first).

### Problem 3.4
Write a SELECT statement to find all students whose email contains "@university.edu".

---

## Exercise 4: Updating Data

### Problem 4.1
Update Bob Smith's age to 20 (he just had a birthday).

### Problem 4.2
Update the "Introduction to SQL" course to have a maximum of 35 students instead of 30.

### Problem 4.3
Give all students who are 21 or older an age increase of 1 year (simulating a new academic year).

---

## Exercise 5: Deleting Data

### Problem 5.1
Delete Charlie Brown's enrollment in "Data Engineering" course.

### Problem 5.2
Delete all enrollments for the course "Introduction to SQL" (course_id = 101).

### Problem 5.3
Delete the student with ID 4 (Diana Williams). What happens to her enrollments? (Check the foreign key constraint you set up)

---

## Exercise 6: Modifying Table Structure

### Problem 6.1
Add a new column `phone_number` (VARCHAR(20)) to the `students` table. This column should allow NULL values.

### Problem 6.2
Add a new column `status` (VARCHAR(20)) to the `courses` table with a default value of 'active' and a CHECK constraint that only allows values: 'active', 'inactive', 'archived'.

### Problem 6.3
Modify the `students` table to add a CHECK constraint ensuring email contains an '@' symbol.

---

## Exercise 7: Understanding DELETE vs TRUNCATE

### Problem 7.1
Explain the difference between DELETE and TRUNCATE. When would you use each?

### Problem 7.2
Write a DELETE statement that removes all data from the `enrollments` table but keeps the table structure.

### Problem 7.3
If you wanted to remove all data from the `enrollments` table quickly and didn't need to rollback, which statement would you use? Write it.

---

## Exercise 8: Advanced Constraints

### Problem 8.1
Create a table named `grades` with:
- `grade_id` (INT) - Primary Key
- `enrollment_id` (INT) - Foreign Key referencing `enrollments.enrollment_id`
- `score` (DECIMAL(5, 2)) - Must be between 0 and 100
- `letter_grade` (VARCHAR(2)) - Must be one of: 'A', 'B', 'C', 'D', 'F'
- `graded_date` (DATE) - Defaults to current date

### Problem 8.2
Insert some sample grades for the existing enrollments. Make sure the scores and letter grades are consistent (e.g., score 90+ = 'A', 80-89 = 'B', etc.)

---

## Exercise 9: Data Integrity Challenges

### Problem 9.1
Try to insert a student with a duplicate email. What happens? Why?

### Problem 9.2
Try to insert an enrollment for a student_id that doesn't exist. What happens? Why?

### Problem 9.3
Try to insert a course with negative credits. What happens? Why?

### Problem 9.4
Try to delete a course that has enrollments. What happens? Why?

---

## Exercise 10: Cleanup

### Problem 10.1
Drop the `grades` table you created in Exercise 8.

### Problem 10.2
Drop the `enrollments` table.

### Problem 10.3
Drop the `courses` table.

### Problem 10.4
Drop the `students` table.

**Note:** Drop tables in the correct order to avoid foreign key constraint violations!

---

## Submission

Complete all exercises and ensure your SQL statements execute without errors. Test each statement before moving to the next exercise.