# SQL Basics Exercise: Solutions

This notebook contains solutions to all problems in the SQL Basics Exercise assignment.

---

## Exercise 1: Creating Tables with Constraints

### Problem 1.1
Create a table named `students` with the following columns:
- `student_id` (INT) - Primary Key
- `first_name` (VARCHAR(50)) - Required, cannot be NULL
- `last_name` (VARCHAR(50)) - Required, cannot be NULL
- `email` (VARCHAR(100)) - Must be unique
- `age` (INT) - Must be between 16 and 100
- `enrollment_date` (DATE) - Should default to current date if not provided

In [ ]:
-- Solution 1.1: Create students table
CREATE TABLE students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE,
    age INT CHECK (age BETWEEN 16 AND 100),
    enrollment_date DATE DEFAULT CURRENT_DATE
);

### Problem 1.2
Create a table named `courses` with:
- `course_id` (INT) - Primary Key
- `course_name` (VARCHAR(100)) - Required
- `instructor` (VARCHAR(100)) - Required
- `credits` (INT) - Must be between 1 and 6
- `max_students` (INT) - Must be greater than 0

In [ ]:
-- Solution 1.2: Create courses table
CREATE TABLE courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100) NOT NULL,
    instructor VARCHAR(100) NOT NULL,
    credits INT CHECK (credits BETWEEN 1 AND 6),
    max_students INT CHECK (max_students > 0)
);

### Problem 1.3
Create a table named `enrollments` that links students to courses:
- `enrollment_id` (INT) - Primary Key
- `student_id` (INT) - Foreign Key referencing `students.student_id`
- `course_id` (INT) - Foreign Key referencing `courses.course_id`
- `enrollment_date` (DATE) - Defaults to current date
- Ensure that a student cannot enroll in the same course twice (use UNIQUE constraint on student_id + course_id combination)
- When a student is deleted, their enrollments should be deleted too (CASCADE)
- When a course is deleted, prevent deletion if students are enrolled (RESTRICT)

In [ ]:
-- Solution 1.3: Create enrollments table
CREATE TABLE enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    enrollment_date DATE DEFAULT CURRENT_DATE,
    FOREIGN KEY (student_id) REFERENCES students(student_id) ON DELETE CASCADE,
    FOREIGN KEY (course_id) REFERENCES courses(course_id) ON DELETE RESTRICT,
    UNIQUE (student_id, course_id)
);

---

## Exercise 2: Inserting Data

### Problem 2.1
Insert the following students into the `students` table:
- Student ID: 1, Name: "Alice", "Johnson", Email: "alice.j@university.edu", Age: 20
- Student ID: 2, Name: "Bob", "Smith", Email: "bob.smith@university.edu", Age: 19
- Student ID: 3, Name: "Charlie", "Brown", Email: "charlie.b@university.edu", Age: 21
- Student ID: 4, Name: "Diana", "Williams", Email: "diana.w@university.edu", Age: 22

In [ ]:
-- Solution 2.1: Insert students
INSERT INTO students (student_id, first_name, last_name, email, age) VALUES
(1, 'Alice', 'Johnson', 'alice.j@university.edu', 20),
(2, 'Bob', 'Smith', 'bob.smith@university.edu', 19),
(3, 'Charlie', 'Brown', 'charlie.b@university.edu', 21),
(4, 'Diana', 'Williams', 'diana.w@university.edu', 22);

### Problem 2.2
Insert the following courses into the `courses` table:
- Course ID: 101, Name: "Introduction to SQL", Instructor: "Dr. Smith", Credits: 3, Max Students: 30
- Course ID: 102, Name: "Database Design", Instructor: "Dr. Jones", Credits: 4, Max Students: 25
- Course ID: 103, Name: "Data Engineering", Instructor: "Dr. Brown", Credits: 3, Max Students: 20

In [ ]:
-- Solution 2.2: Insert courses
INSERT INTO courses (course_id, course_name, instructor, credits, max_students) VALUES
(101, 'Introduction to SQL', 'Dr. Smith', 3, 30),
(102, 'Database Design', 'Dr. Jones', 4, 25),
(103, 'Data Engineering', 'Dr. Brown', 3, 20);

### Problem 2.3
Insert the following enrollments:
- Alice (ID: 1) enrolls in "Introduction to SQL" (ID: 101)
- Bob (ID: 2) enrolls in "Introduction to SQL" (ID: 101)
- Bob (ID: 2) enrolls in "Database Design" (ID: 102)
- Charlie (ID: 3) enrolls in "Data Engineering" (ID: 103)
- Diana (ID: 4) enrolls in "Introduction to SQL" (ID: 101) and "Database Design" (ID: 102)

In [ ]:
-- Solution 2.3: Insert enrollments
INSERT INTO enrollments (enrollment_id, student_id, course_id) VALUES
(1, 1, 101),  -- Alice in Introduction to SQL
(2, 2, 101),  -- Bob in Introduction to SQL
(3, 2, 102),  -- Bob in Database Design
(4, 3, 103),  -- Charlie in Data Engineering
(5, 4, 101),  -- Diana in Introduction to SQL
(6, 4, 102);  -- Diana in Database Design

---

## Exercise 3: Querying Data

### Problem 3.1
Write a SELECT statement to retrieve all students who are 20 years old or older.

In [ ]:
-- Solution 3.1: Students 20 years or older
SELECT * 
FROM students 
WHERE age >= 20;

### Problem 3.2
Write a SELECT statement to retrieve all courses with more than 3 credits, ordered by credits in descending order.

In [ ]:
-- Solution 3.2: Courses with more than 3 credits
SELECT * 
FROM courses 
WHERE credits > 3 
ORDER BY credits DESC;

### Problem 3.3
Write a SELECT statement to retrieve all enrollments, showing student_id, course_id, and enrollment_date, ordered by enrollment_date (newest first).

In [ ]:
-- Solution 3.3: All enrollments ordered by date
SELECT student_id, course_id, enrollment_date 
FROM enrollments 
ORDER BY enrollment_date DESC;

### Problem 3.4
Write a SELECT statement to find all students whose email contains "@university.edu".

In [ ]:
-- Solution 3.4: Students with @university.edu email
SELECT * 
FROM students 
WHERE email LIKE '%@university.edu%';

---

## Exercise 4: Updating Data

### Problem 4.1
Update Bob Smith's age to 20 (he just had a birthday).

In [ ]:
-- Solution 4.1: Update Bob Smith's age
UPDATE students 
SET age = 20 
WHERE first_name = 'Bob' AND last_name = 'Smith';

### Problem 4.2
Update the "Introduction to SQL" course to have a maximum of 35 students instead of 30.

In [ ]:
-- Solution 4.2: Update Introduction to SQL max students
UPDATE courses 
SET max_students = 35 
WHERE course_name = 'Introduction to SQL';

### Problem 4.3
Give all students who are 21 or older an age increase of 1 year (simulating a new academic year).

In [ ]:
-- Solution 4.3: Increase age by 1 for students 21 or older
UPDATE students 
SET age = age + 1 
WHERE age >= 21;

---

## Exercise 5: Deleting Data

### Problem 5.1
Delete Charlie Brown's enrollment in "Data Engineering" course.

In [ ]:
-- Solution 5.1: Delete Charlie Brown's enrollment in Data Engineering
DELETE FROM enrollments 
WHERE student_id = (SELECT student_id FROM students WHERE first_name = 'Charlie' AND last_name = 'Brown')
  AND course_id = (SELECT course_id FROM courses WHERE course_name = 'Data Engineering');

-- Alternative solution using JOIN (if your database supports DELETE with JOIN):
-- DELETE e FROM enrollments e
-- JOIN students s ON e.student_id = s.student_id
-- JOIN courses c ON e.course_id = c.course_id
-- WHERE s.first_name = 'Charlie' AND s.last_name = 'Brown'
--   AND c.course_name = 'Data Engineering';

### Problem 5.2
Delete all enrollments for the course "Introduction to SQL" (course_id = 101).

In [ ]:
-- Solution 5.2: Delete all enrollments for Introduction to SQL
DELETE FROM enrollments 
WHERE course_id = 101;

### Problem 5.3
Delete the student with ID 4 (Diana Williams). What happens to her enrollments? (Check the foreign key constraint you set up)

In [ ]:
-- Solution 5.3: Delete Diana Williams (student_id = 4)
-- Note: Due to the CASCADE constraint on the foreign key, 
-- all of Diana's enrollments will be automatically deleted
DELETE FROM students 
WHERE student_id = 4;

-- Verify that enrollments were deleted (should return no rows if Diana had enrollments)
SELECT * FROM enrollments WHERE student_id = 4;

---

## Exercise 6: Modifying Table Structure

### Problem 6.1
Add a new column `phone_number` (VARCHAR(20)) to the `students` table. This column should allow NULL values.

In [ ]:
-- Solution 6.1: Add phone_number column
ALTER TABLE students 
ADD COLUMN phone_number VARCHAR(20);

### Problem 6.2
Add a new column `status` (VARCHAR(20)) to the `courses` table with a default value of 'active' and a CHECK constraint that only allows values: 'active', 'inactive', 'archived'.

In [ ]:
-- Solution 6.2: Add status column with CHECK constraint
ALTER TABLE courses 
ADD COLUMN status VARCHAR(20) DEFAULT 'active' 
CHECK (status IN ('active', 'inactive', 'archived'));

-- Note: Some databases (like MySQL) may require adding the constraint separately:
-- ALTER TABLE courses ADD COLUMN status VARCHAR(20) DEFAULT 'active';
-- ALTER TABLE courses ADD CONSTRAINT chk_status CHECK (status IN ('active', 'inactive', 'archived'));

### Problem 6.3
Modify the `students` table to add a CHECK constraint ensuring email contains an '@' symbol.

In [ ]:
-- Solution 6.3: Add CHECK constraint for email format
ALTER TABLE students 
ADD CONSTRAINT chk_email_format CHECK (email LIKE '%@%');

-- Note: Some databases may use different syntax:
-- ALTER TABLE students ADD CONSTRAINT chk_email_format CHECK (email LIKE '%@%');
-- Or for PostgreSQL: CHECK (email ~ '@')

---

## Exercise 7: Understanding DELETE vs TRUNCATE

### Problem 7.1
Explain the difference between DELETE and TRUNCATE. When would you use each?

**Solution 7.1: Difference between DELETE and TRUNCATE**

**DELETE:**
- Removes rows one by one, can be rolled back (if within a transaction)
- Can use WHERE clause to delete specific rows
- Triggers are fired for each deleted row
- Slower for large datasets
- Resets auto-increment counters (in some databases)
- Can be used with foreign key constraints (respects them)

**TRUNCATE:**
- Removes all rows at once, faster operation
- Cannot use WHERE clause (always deletes all rows)
- Triggers are NOT fired (in most databases)
- Much faster for large datasets
- Resets auto-increment counters
- May fail if foreign key constraints exist (depends on database)

**When to use DELETE:**
- When you need to delete specific rows (with WHERE clause)
- When you need the operation to be rollback-able
- When you need triggers to fire
- When you need to delete only some rows from a table

**When to use TRUNCATE:**
- When you want to delete ALL rows from a table
- When you need fast deletion of all data
- When you don't need triggers to fire
- When you want to reset auto-increment counters

### Problem 7.2
Write a DELETE statement that removes all data from the `enrollments` table but keeps the table structure.

In [ ]:
-- Solution 7.2: Delete all data from enrollments table
DELETE FROM enrollments;

### Problem 7.3
If you wanted to remove all data from the `enrollments` table quickly and didn't need to rollback, which statement would you use? Write it.

In [ ]:
-- Solution 7.3: Use TRUNCATE for fast deletion (if no foreign key constraints prevent it)
TRUNCATE TABLE enrollments;

-- Note: If TRUNCATE fails due to foreign key constraints, you may need to:
-- 1. Temporarily disable foreign key checks (database-specific)
-- 2. Or use DELETE FROM enrollments; instead

---

## Exercise 8: Advanced Constraints

### Problem 8.1
Create a table named `grades` with:
- `grade_id` (INT) - Primary Key
- `enrollment_id` (INT) - Foreign Key referencing `enrollments.enrollment_id`
- `score` (DECIMAL(5, 2)) - Must be between 0 and 100
- `letter_grade` (VARCHAR(2)) - Must be one of: 'A', 'B', 'C', 'D', 'F'
- `graded_date` (DATE) - Defaults to current date

In [ ]:
-- Solution 8.1: Create grades table
CREATE TABLE grades (
    grade_id INT PRIMARY KEY,
    enrollment_id INT,
    score DECIMAL(5, 2) CHECK (score BETWEEN 0 AND 100),
    letter_grade VARCHAR(2) CHECK (letter_grade IN ('A', 'B', 'C', 'D', 'F')),
    graded_date DATE DEFAULT CURRENT_DATE,
    FOREIGN KEY (enrollment_id) REFERENCES enrollments(enrollment_id)
);

### Problem 8.2
Insert some sample grades for the existing enrollments. Make sure the scores and letter grades are consistent (e.g., score 90+ = 'A', 80-89 = 'B', etc.)

In [ ]:
-- Solution 8.2: Insert sample grades
-- Note: Make sure enrollments exist before running this
-- Grade scale: A (90-100), B (80-89), C (70-79), D (60-69), F (0-59)

INSERT INTO grades (grade_id, enrollment_id, score, letter_grade) VALUES
(1, 1, 95.5, 'A'),  -- Alice in Introduction to SQL
(2, 2, 87.0, 'B'),  -- Bob in Introduction to SQL
(3, 3, 92.0, 'A'),  -- Bob in Database Design
(4, 4, 78.5, 'C'),  -- Charlie in Data Engineering
(5, 5, 88.0, 'B'),  -- Diana in Introduction to SQL
(6, 6, 85.5, 'B');  -- Diana in Database Design

---

## Exercise 9: Data Integrity Challenges

### Problem 9.1
Try to insert a student with a duplicate email. What happens? Why?

In [ ]:
-- Solution 9.1: Attempt to insert duplicate email
-- This will FAIL due to the UNIQUE constraint on the email column
INSERT INTO students (student_id, first_name, last_name, email, age) 
VALUES (5, 'Eve', 'Davis', 'alice.j@university.edu', 20);

-- Expected Error: Violation of UNIQUE constraint
-- Why: The email column has a UNIQUE constraint, so duplicate emails are not allowed

### Problem 9.2
Try to insert an enrollment for a student_id that doesn't exist. What happens? Why?

In [ ]:
-- Solution 9.2: Attempt to insert enrollment with non-existent student_id
-- This will FAIL due to the FOREIGN KEY constraint
INSERT INTO enrollments (enrollment_id, student_id, course_id) 
VALUES (10, 999, 101);

-- Expected Error: Foreign key constraint violation
-- Why: The student_id 999 doesn't exist in the students table, and the FOREIGN KEY constraint
-- ensures referential integrity by preventing orphaned records

### Problem 9.3
Try to insert a course with negative credits. What happens? Why?

In [ ]:
-- Solution 9.3: Attempt to insert course with negative credits
-- This will FAIL due to the CHECK constraint
INSERT INTO courses (course_id, course_name, instructor, credits, max_students) 
VALUES (104, 'Invalid Course', 'Dr. Test', -2, 20);

-- Expected Error: Check constraint violation
-- Why: The credits column has a CHECK constraint (credits BETWEEN 1 AND 6),
-- so negative values are not allowed

### Problem 9.4
Try to delete a course that has enrollments. What happens? Why?

In [ ]:
-- Solution 9.4: Attempt to delete a course with enrollments
-- This will FAIL due to the ON DELETE RESTRICT constraint
DELETE FROM courses 
WHERE course_id = 101;

-- Expected Error: Foreign key constraint violation (RESTRICT)
-- Why: The enrollments table has a FOREIGN KEY with ON DELETE RESTRICT,
-- which prevents deletion of a course if there are any enrollments referencing it.
-- This protects data integrity by preventing orphaned enrollment records.

-- To delete the course, you would first need to delete all enrollments for that course:
-- DELETE FROM enrollments WHERE course_id = 101;
-- Then: DELETE FROM courses WHERE course_id = 101;

---

## Exercise 10: Cleanup

### Problem 10.1
Drop the `grades` table you created in Exercise 8.

In [ ]:
-- Solution 10.1: Drop grades table
DROP TABLE grades;

### Problem 10.2
Drop the `enrollments` table.

In [ ]:
-- Solution 10.2: Drop enrollments table
DROP TABLE enrollments;

### Problem 10.3
Drop the `courses` table.

In [ ]:
-- Solution 10.3: Drop courses table
DROP TABLE courses;

### Problem 10.4
Drop the `students` table.

**Note:** Drop tables in the correct order to avoid foreign key constraint violations!

In [ ]:
-- Solution 10.4: Drop students table
-- Note: This should be done last, after dropping all tables that reference it
-- (enrollments and grades have already been dropped)
DROP TABLE students;