# Healthcare System SQL Exercise

## Instructions

This exercise tests your understanding of SQL concepts including:
- **IF ELSE** statements (conditional logic)
- **CASE** expressions (conditional logic)
- **Window Functions** (ROW_NUMBER, RANK, DENSE_RANK, PARTITION BY, LAG, LEAD, etc.)
- **GROUP BY** and aggregations (COUNT, SUM, AVG, MIN, MAX, HAVING)

**Complete all exercises below. Write your SQL statements in the code cells provided.**

**Difficulty Levels:**
- ðŸŸ¢ **Beginner** - Basic concepts, simple queries
- ðŸŸ¡ **Intermediate** - Multiple concepts, moderate complexity
- ðŸ”´ **Advanced** - Complex queries combining multiple concepts

---

## Database Schema

The healthcare system database consists of the following tables:

### `patients`
- `patient_id` (INT) - Primary Key
- `first_name` (VARCHAR(50))
- `last_name` (VARCHAR(50))
- `date_of_birth` (DATE)
- `gender` (VARCHAR(10)) - 'Male', 'Female', 'Other'
- `phone` (VARCHAR(20))
- `email` (VARCHAR(100))
- `address` (VARCHAR(200))
- `registration_date` (DATE)

### `doctors`
- `doctor_id` (INT) - Primary Key
- `first_name` (VARCHAR(50))
- `last_name` (VARCHAR(50))
- `specialization` (VARCHAR(100))
- `department_id` (INT) - Foreign Key
- `years_of_experience` (INT)
- `phone` (VARCHAR(20))
- `email` (VARCHAR(100))
- `hire_date` (DATE)

### `departments`
- `department_id` (INT) - Primary Key
- `department_name` (VARCHAR(100))
- `location` (VARCHAR(100))
- `head_doctor_id` (INT) - Foreign Key to doctors

### `appointments`
- `appointment_id` (INT) - Primary Key
- `patient_id` (INT) - Foreign Key
- `doctor_id` (INT) - Foreign Key
- `appointment_date` (DATE)
- `appointment_time` (TIME)
- `status` (VARCHAR(20)) - 'Scheduled', 'Completed', 'Cancelled', 'No-Show'
- `appointment_type` (VARCHAR(50)) - 'Consultation', 'Follow-up', 'Emergency', 'Checkup'
- `notes` (VARCHAR(500))

### `treatments`
- `treatment_id` (INT) - Primary Key
- `appointment_id` (INT) - Foreign Key
- `treatment_name` (VARCHAR(200))
- `treatment_date` (DATE)
- `cost` (DECIMAL(10, 2))
- `status` (VARCHAR(20)) - 'Completed', 'In Progress', 'Cancelled'
- `description` (VARCHAR(500))

### `medications`
- `medication_id` (INT) - Primary Key
- `treatment_id` (INT) - Foreign Key
- `medication_name` (VARCHAR(200))
- `dosage` (VARCHAR(100))
- `frequency` (VARCHAR(50))
- `duration_days` (INT)
- `cost` (DECIMAL(10, 2))

### `lab_results`
- `lab_result_id` (INT) - Primary Key
- `patient_id` (INT) - Foreign Key
- `appointment_id` (INT) - Foreign Key
- `test_name` (VARCHAR(200))
- `test_date` (DATE)
- `result_value` (DECIMAL(10, 2))
- `unit` (VARCHAR(20))
- `reference_range` (VARCHAR(100))
- `status` (VARCHAR(20)) - 'Normal', 'Abnormal', 'Critical'

---

## Setup: Create Tables and Insert Data

Run the following SQL statements to create the database schema and insert sample data.

### Step 1: Create Tables

In [ ]:
-- Create departments table
CREATE TABLE departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100) NOT NULL,
    location VARCHAR(100),
    head_doctor_id INT
);

-- Create doctors table
CREATE TABLE doctors (
    doctor_id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    specialization VARCHAR(100),
    department_id INT,
    years_of_experience INT,
    phone VARCHAR(20),
    email VARCHAR(100),
    hire_date DATE,
    FOREIGN KEY (department_id) REFERENCES departments(department_id)
);

-- Create patients table
CREATE TABLE patients (
    patient_id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    date_of_birth DATE,
    gender VARCHAR(10),
    phone VARCHAR(20),
    email VARCHAR(100),
    address VARCHAR(200),
    registration_date DATE
);

-- Create appointments table
CREATE TABLE appointments (
    appointment_id INT PRIMARY KEY,
    patient_id INT,
    doctor_id INT,
    appointment_date DATE,
    appointment_time TIME,
    status VARCHAR(20),
    appointment_type VARCHAR(50),
    notes VARCHAR(500),
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id),
    FOREIGN KEY (doctor_id) REFERENCES doctors(doctor_id)
);

-- Create treatments table
CREATE TABLE treatments (
    treatment_id INT PRIMARY KEY,
    appointment_id INT,
    treatment_name VARCHAR(200),
    treatment_date DATE,
    cost DECIMAL(10, 2),
    status VARCHAR(20),
    description VARCHAR(500),
    FOREIGN KEY (appointment_id) REFERENCES appointments(appointment_id)
);

-- Create medications table
CREATE TABLE medications (
    medication_id INT PRIMARY KEY,
    treatment_id INT,
    medication_name VARCHAR(200),
    dosage VARCHAR(100),
    frequency VARCHAR(50),
    duration_days INT,
    cost DECIMAL(10, 2),
    FOREIGN KEY (treatment_id) REFERENCES treatments(treatment_id)
);

-- Create lab_results table
CREATE TABLE lab_results (
    lab_result_id INT PRIMARY KEY,
    patient_id INT,
    appointment_id INT,
    test_name VARCHAR(200),
    test_date DATE,
    result_value DECIMAL(10, 2),
    unit VARCHAR(20),
    reference_range VARCHAR(100),
    status VARCHAR(20),
    FOREIGN KEY (patient_id) REFERENCES patients(patient_id),
    FOREIGN KEY (appointment_id) REFERENCES appointments(appointment_id)
);

### Step 2: Insert Sample Data (100 Records)

In [ ]:
-- Insert Departments
INSERT INTO departments VALUES (1, 'Cardiology', 'Building A, Floor 2', NULL);
INSERT INTO departments VALUES (2, 'Neurology', 'Building A, Floor 3', NULL);
INSERT INTO departments VALUES (3, 'Orthopedics', 'Building B, Floor 1', NULL);
INSERT INTO departments VALUES (4, 'Pediatrics', 'Building B, Floor 2', NULL);
INSERT INTO departments VALUES (5, 'Emergency', 'Building C, Ground Floor', NULL);
INSERT INTO departments VALUES (6, 'Oncology', 'Building A, Floor 4', NULL);
INSERT INTO departments VALUES (7, 'Dermatology', 'Building B, Floor 3', NULL);
INSERT INTO departments VALUES (8, 'Psychiatry', 'Building C, Floor 2', NULL);

-- Insert Doctors
INSERT INTO doctors VALUES (1, 'John', 'Smith', 'Cardiologist', 1, 15, '555-0101', 'john.smith@hospital.com', '2010-03-15');
INSERT INTO doctors VALUES (2, 'Sarah', 'Johnson', 'Neurologist', 2, 12, '555-0102', 'sarah.j@hospital.com', '2012-06-20');
INSERT INTO doctors VALUES (3, 'Michael', 'Brown', 'Orthopedic Surgeon', 3, 20, '555-0103', 'michael.b@hospital.com', '2005-01-10');
INSERT INTO doctors VALUES (4, 'Emily', 'Davis', 'Pediatrician', 4, 8, '555-0104', 'emily.d@hospital.com', '2016-08-05');
INSERT INTO doctors VALUES (5, 'David', 'Wilson', 'Emergency Medicine', 5, 10, '555-0105', 'david.w@hospital.com', '2014-02-28');
INSERT INTO doctors VALUES (6, 'Lisa', 'Anderson', 'Oncologist', 6, 18, '555-0106', 'lisa.a@hospital.com', '2007-11-12');
INSERT INTO doctors VALUES (7, 'Robert', 'Taylor', 'Dermatologist', 7, 14, '555-0107', 'robert.t@hospital.com', '2010-09-22');
INSERT INTO doctors VALUES (8, 'Jennifer', 'Martinez', 'Psychiatrist', 8, 9, '555-0108', 'jennifer.m@hospital.com', '2015-04-18');
INSERT INTO doctors VALUES (9, 'William', 'Garcia', 'Cardiologist', 1, 11, '555-0109', 'william.g@hospital.com', '2013-07-30');
INSERT INTO doctors VALUES (10, 'Amanda', 'Lee', 'Neurologist', 2, 7, '555-0110', 'amanda.l@hospital.com', '2017-10-15');

-- Update department head doctors
UPDATE departments SET head_doctor_id = 1 WHERE department_id = 1;
UPDATE departments SET head_doctor_id = 2 WHERE department_id = 2;
UPDATE departments SET head_doctor_id = 3 WHERE department_id = 3;
UPDATE departments SET head_doctor_id = 4 WHERE department_id = 4;
UPDATE departments SET head_doctor_id = 5 WHERE department_id = 5;
UPDATE departments SET head_doctor_id = 6 WHERE department_id = 6;
UPDATE departments SET head_doctor_id = 7 WHERE department_id = 7;
UPDATE departments SET head_doctor_id = 8 WHERE department_id = 8;

-- Insert Patients (20 patients)
INSERT INTO patients VALUES (1, 'James', 'Miller', '1985-05-12', 'Male', '555-1001', 'james.m@email.com', '123 Main St', '2020-01-15');
INSERT INTO patients VALUES (2, 'Mary', 'Thompson', '1990-08-22', 'Female', '555-1002', 'mary.t@email.com', '456 Oak Ave', '2020-02-10');
INSERT INTO patients VALUES (3, 'Robert', 'White', '1978-11-03', 'Male', '555-1003', 'robert.w@email.com', '789 Pine Rd', '2019-12-05');
INSERT INTO patients VALUES (4, 'Patricia', 'Harris', '1992-03-18', 'Female', '555-1004', 'patricia.h@email.com', '321 Elm St', '2021-03-20');
INSERT INTO patients VALUES (5, 'John', 'Martin', '1988-07-25', 'Male', '555-1005', 'john.m@email.com', '654 Maple Dr', '2020-05-12');
INSERT INTO patients VALUES (6, 'Jennifer', 'Garcia', '1995-01-30', 'Female', '555-1006', 'jennifer.g@email.com', '987 Cedar Ln', '2021-01-08');
INSERT INTO patients VALUES (7, 'Michael', 'Rodriguez', '1982-09-14', 'Male', '555-1007', 'michael.r@email.com', '147 Birch Way', '2019-11-22');
INSERT INTO patients VALUES (8, 'Linda', 'Lewis', '1991-04-07', 'Female', '555-1008', 'linda.l@email.com', '258 Spruce Ct', '2020-07-30');
INSERT INTO patients VALUES (9, 'William', 'Walker', '1975-12-19', 'Male', '555-1009', 'william.w@email.com', '369 Willow St', '2019-09-15');
INSERT INTO patients VALUES (10, 'Elizabeth', 'Hall', '1987-06-28', 'Female', '555-1010', 'elizabeth.h@email.com', '741 Ash Ave', '2020-04-25');
INSERT INTO patients VALUES (11, 'Richard', 'Allen', '1993-02-11', 'Male', '555-1011', 'richard.a@email.com', '852 Poplar Rd', '2021-02-14');
INSERT INTO patients VALUES (12, 'Susan', 'Young', '1989-10-05', 'Female', '555-1012', 'susan.y@email.com', '963 Hickory Dr', '2020-08-18');
INSERT INTO patients VALUES (13, 'Joseph', 'King', '1984-08-16', 'Male', '555-1013', 'joseph.k@email.com', '159 Cherry Ln', '2020-06-10');
INSERT INTO patients VALUES (14, 'Jessica', 'Wright', '1996-05-23', 'Female', '555-1014', 'jessica.w@email.com', '357 Walnut St', '2021-04-05');
INSERT INTO patients VALUES (15, 'Thomas', 'Lopez', '1980-03-09', 'Male', '555-1015', 'thomas.l@email.com', '468 Chestnut Ave', '2019-10-28');
INSERT INTO patients VALUES (16, 'Sarah', 'Hill', '1994-07-31', 'Female', '555-1016', 'sarah.h@email.com', '579 Sycamore Rd', '2020-11-12');
INSERT INTO patients VALUES (17, 'Charles', 'Scott', '1977-12-14', 'Male', '555-1017', 'charles.s@email.com', '680 Magnolia Dr', '2019-08-20');
INSERT INTO patients VALUES (18, 'Nancy', 'Green', '1992-09-26', 'Female', '555-1018', 'nancy.g@email.com', '791 Dogwood Ln', '2020-09-22');
INSERT INTO patients VALUES (19, 'Christopher', 'Adams', '1986-01-17', 'Male', '555-1019', 'christopher.a@email.com', '802 Redwood St', '2020-12-30');
INSERT INTO patients VALUES (20, 'Karen', 'Baker', '1991-11-08', 'Female', '555-1020', 'karen.b@email.com', '913 Fir Ct', '2021-05-15');

-- Insert Appointments (30 appointments)
INSERT INTO appointments VALUES (1, 1, 1, '2024-01-15', '09:00:00', 'Completed', 'Consultation', 'Regular checkup');
INSERT INTO appointments VALUES (2, 2, 2, '2024-01-16', '10:30:00', 'Completed', 'Follow-up', 'Follow-up on previous treatment');
INSERT INTO appointments VALUES (3, 3, 3, '2024-01-17', '14:00:00', 'Completed', 'Consultation', 'Knee pain evaluation');
INSERT INTO appointments VALUES (4, 4, 4, '2024-01-18', '11:00:00', 'Completed', 'Checkup', 'Annual pediatric checkup');
INSERT INTO appointments VALUES (5, 5, 1, '2024-01-19', '15:30:00', 'Completed', 'Consultation', 'Heart condition review');
INSERT INTO appointments VALUES (6, 6, 7, '2024-01-20', '09:30:00', 'Completed', 'Consultation', 'Skin rash examination');
INSERT INTO appointments VALUES (7, 7, 2, '2024-01-21', '13:00:00', 'Completed', 'Follow-up', 'Neurological follow-up');
INSERT INTO appointments VALUES (8, 8, 8, '2024-01-22', '10:00:00', 'Completed', 'Consultation', 'Mental health assessment');
INSERT INTO appointments VALUES (9, 9, 3, '2024-01-23', '16:00:00', 'Completed', 'Consultation', 'Back pain consultation');
INSERT INTO appointments VALUES (10, 10, 5, '2024-01-24', '08:00:00', 'Completed', 'Emergency', 'Emergency visit');
INSERT INTO appointments VALUES (11, 11, 6, '2024-01-25', '14:30:00', 'Completed', 'Consultation', 'Oncology consultation');
INSERT INTO appointments VALUES (12, 12, 1, '2024-01-26', '11:30:00', 'Completed', 'Follow-up', 'Cardiac follow-up');
INSERT INTO appointments VALUES (13, 13, 4, '2024-01-27', '09:00:00', 'Completed', 'Checkup', 'Child wellness check');
INSERT INTO appointments VALUES (14, 14, 7, '2024-01-28', '15:00:00', 'Completed', 'Consultation', 'Acne treatment');
INSERT INTO appointments VALUES (15, 15, 2, '2024-01-29', '10:30:00', 'Completed', 'Consultation', 'Headache evaluation');
INSERT INTO appointments VALUES (16, 16, 3, '2024-01-30', '13:30:00', 'Completed', 'Follow-up', 'Post-surgery follow-up');
INSERT INTO appointments VALUES (17, 17, 5, '2024-02-01', '08:30:00', 'Completed', 'Emergency', 'Chest pain emergency');
INSERT INTO appointments VALUES (18, 18, 8, '2024-02-02', '12:00:00', 'Completed', 'Follow-up', 'Therapy session');
INSERT INTO appointments VALUES (19, 19, 1, '2024-02-03', '16:30:00', 'Completed', 'Consultation', 'Hypertension check');
INSERT INTO appointments VALUES (20, 20, 6, '2024-02-04', '09:00:00', 'Completed', 'Follow-up', 'Treatment progress review');
INSERT INTO appointments VALUES (21, 1, 9, '2024-02-05', '11:00:00', 'Scheduled', 'Follow-up', 'Cardiac follow-up');
INSERT INTO appointments VALUES (22, 2, 10, '2024-02-06', '14:00:00', 'Scheduled', 'Consultation', 'New consultation');
INSERT INTO appointments VALUES (23, 3, 3, '2024-02-07', '10:00:00', 'Cancelled', 'Follow-up', 'Patient cancelled');
INSERT INTO appointments VALUES (24, 4, 4, '2024-02-08', '15:00:00', 'Scheduled', 'Checkup', 'Regular checkup');
INSERT INTO appointments VALUES (25, 5, 1, '2024-02-09', '09:30:00', 'No-Show', 'Follow-up', 'Patient did not show');
INSERT INTO appointments VALUES (26, 6, 7, '2024-02-10', '13:00:00', 'Scheduled', 'Follow-up', 'Treatment follow-up');
INSERT INTO appointments VALUES (27, 7, 2, '2024-02-11', '11:30:00', 'Scheduled', 'Consultation', 'New symptoms');
INSERT INTO appointments VALUES (28, 8, 8, '2024-02-12', '16:00:00', 'Scheduled', 'Follow-up', 'Therapy continuation');
INSERT INTO appointments VALUES (29, 9, 3, '2024-02-13', '08:00:00', 'Scheduled', 'Consultation', 'Pain management');
INSERT INTO appointments VALUES (30, 10, 5, '2024-02-14', '12:30:00', 'Scheduled', 'Emergency', 'Urgent care');

-- Insert Treatments (25 treatments)
INSERT INTO treatments VALUES (1, 1, 'ECG Test', '2024-01-15', 150.00, 'Completed', 'Electrocardiogram performed');
INSERT INTO treatments VALUES (2, 2, 'MRI Scan', '2024-01-16', 800.00, 'Completed', 'Brain MRI completed');
INSERT INTO treatments VALUES (3, 3, 'X-Ray', '2024-01-17', 120.00, 'Completed', 'Knee X-ray taken');
INSERT INTO treatments VALUES (4, 4, 'Vaccination', '2024-01-18', 50.00, 'Completed', 'Annual vaccination given');
INSERT INTO treatments VALUES (5, 5, 'Echocardiogram', '2024-01-19', 300.00, 'Completed', 'Heart ultrasound completed');
INSERT INTO treatments VALUES (6, 6, 'Skin Biopsy', '2024-01-20', 250.00, 'Completed', 'Biopsy sample taken');
INSERT INTO treatments VALUES (7, 7, 'CT Scan', '2024-01-21', 600.00, 'Completed', 'Head CT scan completed');
INSERT INTO treatments VALUES (8, 8, 'Therapy Session', '2024-01-22', 200.00, 'Completed', 'One hour therapy session');
INSERT INTO treatments VALUES (9, 9, 'Physical Therapy', '2024-01-23', 180.00, 'In Progress', 'Back rehabilitation');
INSERT INTO treatments VALUES (10, 10, 'Emergency Treatment', '2024-01-24', 500.00, 'Completed', 'Emergency care provided');
INSERT INTO treatments VALUES (11, 11, 'Chemotherapy', '2024-01-25', 2000.00, 'In Progress', 'First cycle of chemotherapy');
INSERT INTO treatments VALUES (12, 12, 'Stress Test', '2024-01-26', 200.00, 'Completed', 'Cardiac stress test');
INSERT INTO treatments VALUES (13, 13, 'Blood Test', '2024-01-27', 80.00, 'Completed', 'Complete blood count');
INSERT INTO treatments VALUES (14, 14, 'Laser Treatment', '2024-01-28', 400.00, 'Completed', 'Acne laser treatment');
INSERT INTO treatments VALUES (15, 15, 'EEG Test', '2024-01-29', 350.00, 'Completed', 'Electroencephalogram');
INSERT INTO treatments VALUES (16, 16, 'Surgery Follow-up', '2024-01-30', 150.00, 'Completed', 'Post-operative care');
INSERT INTO treatments VALUES (17, 17, 'Emergency Surgery', '2024-02-01', 5000.00, 'Completed', 'Emergency procedure');
INSERT INTO treatments VALUES (18, 18, 'Group Therapy', '2024-02-02', 100.00, 'Completed', 'Group session');
INSERT INTO treatments VALUES (19, 19, 'Blood Pressure Monitor', '2024-02-03', 75.00, 'Completed', '24-hour monitoring');
INSERT INTO treatments VALUES (20, 20, 'Radiation Therapy', '2024-02-04', 1500.00, 'In Progress', 'Radiation treatment');
INSERT INTO treatments VALUES (21, 21, 'Cardiac Catheterization', '2024-02-05', 3000.00, 'Scheduled', 'Scheduled procedure');
INSERT INTO treatments VALUES (22, 22, 'Neurological Exam', '2024-02-06', 250.00, 'Scheduled', 'Comprehensive exam');
INSERT INTO treatments VALUES (23, 24, 'Vaccination', '2024-02-08', 50.00, 'Scheduled', 'Scheduled vaccination');
INSERT INTO treatments VALUES (24, 26, 'Follow-up Treatment', '2024-02-10', 200.00, 'Scheduled', 'Treatment continuation');
INSERT INTO treatments VALUES (25, 27, 'Diagnostic Test', '2024-02-11', 300.00, 'Scheduled', 'Diagnostic procedure');

-- Insert Medications (25 medications)
INSERT INTO medications VALUES (1, 1, 'Aspirin', '81mg', 'Once daily', 30, 15.00);
INSERT INTO medications VALUES (2, 2, 'Gabapentin', '300mg', 'Three times daily', 60, 45.00);
INSERT INTO medications VALUES (3, 3, 'Ibuprofen', '400mg', 'Twice daily', 14, 12.00);
INSERT INTO medications VALUES (4, 4, 'Vitamin D', '1000 IU', 'Once daily', 90, 20.00);
INSERT INTO medications VALUES (5, 5, 'Lisinopril', '10mg', 'Once daily', 30, 25.00);
INSERT INTO medications VALUES (6, 6, 'Hydrocortisone Cream', '1%', 'Apply twice daily', 14, 18.00);
INSERT INTO medications VALUES (7, 7, 'Topiramate', '50mg', 'Twice daily', 30, 55.00);
INSERT INTO medications VALUES (8, 8, 'Sertraline', '50mg', 'Once daily', 90, 30.00);
INSERT INTO medications VALUES (9, 9, 'Naproxen', '500mg', 'Twice daily', 21, 22.00);
INSERT INTO medications VALUES (10, 10, 'Morphine', '5mg', 'As needed', 7, 35.00);
INSERT INTO medications VALUES (11, 11, 'Paclitaxel', '175mg/m2', 'Every 3 weeks', 180, 500.00);
INSERT INTO medications VALUES (12, 12, 'Metoprolol', '25mg', 'Twice daily', 30, 28.00);
INSERT INTO medications VALUES (13, 13, 'Amoxicillin', '250mg', 'Three times daily', 10, 15.00);
INSERT INTO medications VALUES (14, 14, 'Tretinoin', '0.05%', 'Apply once daily', 60, 40.00);
INSERT INTO medications VALUES (15, 15, 'Sumatriptan', '50mg', 'As needed', 30, 60.00);
INSERT INTO medications VALUES (16, 16, 'Acetaminophen', '500mg', 'Every 6 hours', 7, 8.00);
INSERT INTO medications VALUES (17, 17, 'Antibiotics', '500mg', 'Four times daily', 10, 25.00);
INSERT INTO medications VALUES (18, 18, 'Escitalopram', '10mg', 'Once daily', 90, 32.00);
INSERT INTO medications VALUES (19, 19, 'Amlodipine', '5mg', 'Once daily', 30, 20.00);
INSERT INTO medications VALUES (20, 20, 'Cisplatin', '75mg/m2', 'Every 3 weeks', 180, 600.00);
INSERT INTO medications VALUES (21, 21, 'Clopidogrel', '75mg', 'Once daily', 90, 50.00);
INSERT INTO medications VALUES (22, 22, 'Levetiracetam', '500mg', 'Twice daily', 60, 48.00);
INSERT INTO medications VALUES (23, 24, 'Vitamin B12', '1000mcg', 'Once daily', 30, 15.00);
INSERT INTO medications VALUES (24, 24, 'Iron Supplement', '65mg', 'Once daily', 60, 12.00);
INSERT INTO medications VALUES (25, 25, 'Prednisone', '20mg', 'Once daily', 14, 18.00);

-- Insert Lab Results (25 lab results)
INSERT INTO lab_results VALUES (1, 1, 1, 'Cholesterol', '2024-01-15', 180.00, 'mg/dL', '100-200', 'Normal');
INSERT INTO lab_results VALUES (2, 2, 2, 'MRI Brain', '2024-01-16', 0.00, 'N/A', 'Normal', 'Normal');
INSERT INTO lab_results VALUES (3, 3, 3, 'X-Ray Knee', '2024-01-17', 0.00, 'N/A', 'Normal', 'Normal');
INSERT INTO lab_results VALUES (4, 4, 4, 'CBC', '2024-01-18', 7.5, 'million/uL', '4.5-11.0', 'Normal');
INSERT INTO lab_results VALUES (5, 5, 5, 'Echocardiogram', '2024-01-19', 65.00, '%', '55-70', 'Normal');
INSERT INTO lab_results VALUES (6, 6, 6, 'Biopsy Result', '2024-01-20', 0.00, 'N/A', 'Benign', 'Normal');
INSERT INTO lab_results VALUES (7, 7, 7, 'CT Head', '2024-01-21', 0.00, 'N/A', 'Normal', 'Normal');
INSERT INTO lab_results VALUES (8, 8, 8, 'Psychological Assessment', '2024-01-22', 65.00, 'Score', '50-70', 'Normal');
INSERT INTO lab_results VALUES (9, 9, 9, 'Physical Therapy Assessment', '2024-01-23', 75.00, 'Score', '60-80', 'Normal');
INSERT INTO lab_results VALUES (10, 10, 10, 'Emergency Blood Work', '2024-01-24', 140.00, 'mg/dL', '70-100', 'Abnormal');
INSERT INTO lab_results VALUES (11, 11, 11, 'Tumor Marker', '2024-01-25', 45.00, 'ng/mL', '0-35', 'Abnormal');
INSERT INTO lab_results VALUES (12, 12, 12, 'Stress Test Result', '2024-01-26', 85.00, '%', '>80', 'Normal');
INSERT INTO lab_results VALUES (13, 13, 13, 'Complete Blood Count', '2024-01-27', 8.2, 'million/uL', '4.5-11.0', 'Normal');
INSERT INTO lab_results VALUES (14, 14, 14, 'Skin Analysis', '2024-01-28', 0.00, 'N/A', 'Normal', 'Normal');
INSERT INTO lab_results VALUES (15, 15, 15, 'EEG Result', '2024-01-29', 0.00, 'N/A', 'Normal', 'Normal');
INSERT INTO lab_results VALUES (16, 16, 16, 'Post-Surgery Check', '2024-01-30', 0.00, 'N/A', 'Normal', 'Normal');
INSERT INTO lab_results VALUES (17, 17, 17, 'Emergency Lab', '2024-02-01', 95.00, 'mg/dL', '70-100', 'Normal');
INSERT INTO lab_results VALUES (18, 18, 18, 'Mental Health Score', '2024-02-02', 58.00, 'Score', '50-70', 'Normal');
INSERT INTO lab_results VALUES (19, 19, 19, 'Blood Pressure 24h', '2024-02-03', 135.00, 'mmHg', '90-120', 'Abnormal');
INSERT INTO lab_results VALUES (20, 20, 20, 'Cancer Marker', '2024-02-04', 38.00, 'ng/mL', '0-35', 'Abnormal');
INSERT INTO lab_results VALUES (21, 1, 21, 'Cardiac Enzymes', '2024-02-05', 25.00, 'U/L', '0-30', 'Normal');
INSERT INTO lab_results VALUES (22, 2, 22, 'Neurological Panel', '2024-02-06', 0.00, 'N/A', 'Pending', 'Normal');
INSERT INTO lab_results VALUES (23, 4, 24, 'Vitamin Levels', '2024-02-08', 35.00, 'ng/mL', '30-100', 'Normal');
INSERT INTO lab_results VALUES (24, 6, 26, 'Follow-up Test', '2024-02-10', 0.00, 'N/A', 'Pending', 'Normal');
INSERT INTO lab_results VALUES (25, 7, 27, 'Diagnostic Panel', '2024-02-11', 0.00, 'N/A', 'Pending', 'Normal');

---

## Exercise Problems

Now that you have the database set up, complete the following exercises. Write your SQL queries in the code cells provided below each problem.

## Section 1: CASE Statements (ðŸŸ¢ Beginner to ðŸŸ¡ Intermediate)

### Problem 1.1: Patient Age Category
**Difficulty:** ðŸŸ¢ Beginner

**Problem:** Write a query to display all patients with their age category using CASE statement:
- Patient ID
- Full Name (First Name + Last Name)
- Date of Birth
- Age (calculated from date_of_birth)
- Age Category:
  - 'Child' if age < 18
  - 'Adult' if age >= 18 and < 65
  - 'Senior' if age >= 65

**Hint:** Use CASE WHEN to categorize ages. Calculate age using DATEDIFF or similar function.

---

### Problem 1.2: Appointment Status Priority
**Difficulty:** ðŸŸ¢ Beginner

**Problem:** Create a query that shows appointments with a priority level based on status:
- Appointment ID
- Patient Name
- Doctor Name
- Appointment Date
- Status
- Priority Level (using CASE):
  - 'High' for 'Emergency' appointment_type
  - 'Medium' for 'Consultation' appointment_type
  - 'Low' for 'Follow-up' and 'Checkup' appointment_type

**Hint:** Join appointments with patients and doctors tables.

---

### Problem 1.3: Treatment Cost Category
**Difficulty:** ðŸŸ¢ Beginner

**Problem:** Categorize treatments by cost:
- Treatment ID
- Treatment Name
- Cost
- Cost Category (using CASE):
  - 'Low' if cost < 200
  - 'Medium' if cost >= 200 and < 1000
  - 'High' if cost >= 1000 and < 3000
  - 'Very High' if cost >= 3000

Order by cost descending.

---

### Problem 1.4: Lab Result Status with Severity
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Show lab results with severity indicators:
- Lab Result ID
- Patient Name
- Test Name
- Result Value
- Status
- Severity (using CASE):
  - 'Critical' if status = 'Critical'
  - 'Warning' if status = 'Abnormal'
  - 'Normal' if status = 'Normal'
  - 'Pending' if status is NULL or result_value is NULL

Also include a column showing if the result requires immediate attention (Yes/No).

---

### Problem 1.5: Doctor Experience Level
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Categorize doctors by their experience level:
- Doctor ID
- Doctor Name
- Specialization
- Years of Experience
- Experience Level (using CASE):
  - 'Junior' if years < 5
  - 'Mid-Level' if years >= 5 and < 10
  - 'Senior' if years >= 10 and < 15
  - 'Expert' if years >= 15

Also show their department name.

---

## Section 2: IF ELSE / Conditional Logic (ðŸŸ¡ Intermediate)

**Note:** In SQL, IF-ELSE logic is typically implemented using CASE statements or stored procedures. For this exercise, we'll use CASE statements and conditional functions.

### Problem 2.1: Patient Registration Year Analysis
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Analyze patient registrations by year with conditional logic:
- Registration Year
- Number of Patients
- Registration Trend (using CASE):
  - 'Increasing' if current year has more patients than previous
  - 'Decreasing' if current year has fewer patients than previous
  - 'Stable' if same number
  - 'New' for the first year

**Hint:** Use window functions (LAG) to compare with previous year.

---

### Problem 2.2: Medication Cost Analysis with Discounts
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Calculate medication costs with conditional discounts:
- Medication ID
- Medication Name
- Original Cost
- Discount Applied (using CASE):
  - 10% discount if cost >= 100
  - 5% discount if cost >= 50 and < 100
  - 0% discount if cost < 50
- Final Cost (after discount)

**Hint:** Use CASE to calculate discount percentage, then apply it.

---

### Problem 2.3: Appointment Completion Rate by Doctor
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Calculate completion rates for each doctor:
- Doctor ID
- Doctor Name
- Total Appointments
- Completed Appointments
- Cancelled Appointments
- No-Show Appointments
- Completion Rate (percentage)
- Performance Status (using CASE):
  - 'Excellent' if completion rate >= 80%
  - 'Good' if completion rate >= 60% and < 80%
  - 'Needs Improvement' if completion rate < 60%

---

## Section 3: GROUP BY and Aggregations (ðŸŸ¢ Beginner to ðŸŸ¡ Intermediate)

### Problem 3.1: Department Statistics
**Difficulty:** ðŸŸ¢ Beginner

**Problem:** Show statistics for each department:
- Department Name
- Number of Doctors
- Average Years of Experience
- Total Number of Appointments
- Number of Completed Appointments

Order by number of doctors descending.

---

### Problem 3.2: Patient Visit Summary
**Difficulty:** ðŸŸ¢ Beginner

**Problem:** Summarize patient visits:
- Patient ID
- Patient Name
- Total Appointments
- Completed Appointments
- Cancelled Appointments
- Total Treatment Cost
- Average Treatment Cost

Only show patients with more than 1 appointment.

---

### Problem 3.3: Monthly Appointment Trends
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Analyze appointments by month:
- Year
- Month
- Total Appointments
- Completed Appointments
- Cancelled Appointments
- No-Show Appointments
- Completion Rate (percentage)

Order by year and month.

---

### Problem 3.4: Treatment Cost Analysis by Department
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Analyze treatment costs by department:
- Department Name
- Number of Treatments
- Total Cost
- Average Cost
- Minimum Cost
- Maximum Cost
- Most Expensive Treatment Name

**Hint:** Join treatments â†’ appointments â†’ doctors â†’ departments.

---

### Problem 3.5: Medication Usage Statistics
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Show medication usage statistics:
- Medication Name
- Number of Prescriptions
- Total Cost
- Average Cost per Prescription
- Total Duration (sum of duration_days)
- Average Duration

Order by number of prescriptions descending.

---

## Section 4: Window Functions (ðŸŸ¡ Intermediate to ðŸ”´ Advanced)

### Problem 4.1: Patient Appointment Ranking
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Rank appointments by date for each patient:
- Patient ID
- Patient Name
- Appointment ID
- Appointment Date
- Appointment Number (1st, 2nd, 3rd, etc. for each patient)
- Days Since Previous Appointment (NULL for first appointment)

Order by patient ID, then appointment date.

**Hint:** Use ROW_NUMBER() and LAG() window functions.

---

### Problem 4.2: Doctor Performance Ranking
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Rank doctors by number of completed appointments:
- Doctor ID
- Doctor Name
- Specialization
- Total Completed Appointments
- Rank (1 = most appointments)
- Dense Rank
- Percent Rank (percentage ranking)

Order by rank.

**Hint:** Use RANK(), DENSE_RANK(), and PERCENT_RANK().

---

### Problem 4.3: Running Total of Treatment Costs
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Calculate running totals of treatment costs by date:
- Treatment Date
- Treatment Name
- Cost
- Daily Total (sum of costs for that day)
- Running Total (cumulative sum up to that date)
- Running Average (average cost up to that date)

Order by treatment date.

**Hint:** Use SUM() OVER() and AVG() OVER() with appropriate window frames.

---

### Problem 4.4: Top 3 Most Expensive Treatments per Department
**Difficulty:** ðŸŸ¡ Intermediate

**Problem:** Find the top 3 most expensive treatments in each department:
- Department Name
- Treatment Name
- Cost
- Rank in Department

Show only top 3 treatments per department.

**Hint:** Use RANK() or DENSE_RANK() with PARTITION BY department, then filter.

---

### Problem 4.5: Patient Treatment History with Trends
**Difficulty:** ðŸ”´ Advanced

**Problem:** Show patient treatment history with trend analysis:
- Patient ID
- Patient Name
- Treatment Date
- Treatment Name
- Cost
- Previous Treatment Cost (LAG)
- Next Treatment Cost (LEAD)
- Cost Change from Previous (current - previous)
- Cost Trend:
  - 'Increasing' if current > previous
  - 'Decreasing' if current < previous
  - 'Stable' if current = previous
  - 'First Treatment' if previous is NULL

**Hint:** Use LAG() and LEAD() window functions with CASE.

---

### Problem 4.6: Department Revenue Comparison
**Difficulty:** ðŸ”´ Advanced

**Problem:** Compare department revenues with percentiles:
- Department Name
- Total Revenue (sum of treatment costs)
- Revenue Rank
- Percent of Total Revenue
- Cumulative Revenue (running total)
- Revenue Quartile (1st, 2nd, 3rd, 4th quartile)

**Hint:** Use multiple window functions: SUM(), RANK(), PERCENT_RANK(), and NTILE(4).

---

### Problem 4.7: Moving Average of Daily Appointments
**Difficulty:** ðŸ”´ Advanced

**Problem:** Calculate moving averages for daily appointments:
- Appointment Date
- Daily Appointment Count
- 3-Day Moving Average
- 7-Day Moving Average
- 30-Day Moving Average

**Hint:** Use COUNT() OVER() with ROWS BETWEEN for moving averages.

---

## Section 5: Combined Concepts (ðŸ”´ Advanced)

### Problem 5.1: Comprehensive Patient Report
**Difficulty:** ðŸ”´ Advanced

**Problem:** Create a comprehensive patient report combining multiple concepts:
- Patient ID
- Patient Name
- Age Category (CASE)
- Total Appointments
- Appointment Completion Rate (CASE: Excellent/Good/Poor)
- Total Treatment Cost
- Cost Category (CASE: Low/Medium/High)
- Most Recent Appointment Date
- Days Since Last Appointment
- Patient Status (CASE):
  - 'Active' if last appointment within 30 days
  - 'Inactive' if last appointment 30-90 days ago
  - 'Dormant' if last appointment > 90 days ago
- Treatment Cost Rank (window function)

**Hint:** Combine GROUP BY, CASE statements, and window functions.

---

### Problem 5.2: Doctor Performance Dashboard
**Difficulty:** ðŸ”´ Advanced

**Problem:** Create a doctor performance dashboard:
- Doctor ID
- Doctor Name
- Specialization
- Experience Level (CASE)
- Total Appointments
- Completion Rate
- Performance Rating (CASE based on completion rate)
- Average Treatment Cost
- Total Revenue Generated
- Revenue Rank (window function)
- Revenue Percentile
- Patient Count
- Average Appointments per Patient

**Hint:** Use multiple aggregations, CASE statements, and window functions.

---

### Problem 5.3: Treatment Cost Analysis with Anomaly Detection
**Difficulty:** ðŸ”´ Advanced

**Problem:** Analyze treatment costs and identify anomalies:
- Treatment ID
- Treatment Name
- Department
- Cost
- Average Cost for Treatment Type (window function)
- Standard Deviation (if available, or use CASE for simple logic)
- Cost Deviation:
  - 'Above Average' if cost > average
  - 'Below Average' if cost < average
  - 'Average' if cost = average
- Anomaly Flag (CASE):
  - 'High Anomaly' if cost > average * 1.5
  - 'Low Anomaly' if cost < average * 0.5
  - 'Normal' otherwise
- Cost Percentile (window function)

**Hint:** Use window functions to calculate averages and percentiles, then CASE for categorization.

---

### Problem 5.4: Monthly Department Performance Report
**Difficulty:** ðŸ”´ Advanced

**Problem:** Create a monthly performance report for each department:
- Department Name
- Year-Month
- Total Appointments
- Completed Appointments
- Completion Rate
- Total Revenue
- Revenue vs Previous Month (LAG)
- Revenue Change % (CASE: Increase/Decrease/Stable)
- Revenue Rank for Month (window function)
- Cumulative Revenue (running total)
- Average Revenue per Appointment

**Hint:** Combine GROUP BY, CASE, and multiple window functions.

---

### Problem 5.5: Patient Risk Assessment
**Difficulty:** ðŸ”´ Advanced

**Problem:** Create a patient risk assessment report:
- Patient ID
- Patient Name
- Age Category (CASE)
- Total Abnormal Lab Results
- Total Critical Lab Results
- Risk Level (CASE):
  - 'High Risk' if critical results > 0 or abnormal results >= 3
  - 'Medium Risk' if abnormal results = 1 or 2
  - 'Low Risk' if all results normal
- Total Treatment Cost
- Cost Rank (window function)
- Number of Emergency Visits
- Last Appointment Date
- Days Since Last Appointment
- Recommended Action (CASE):
  - 'Immediate Follow-up' for high risk
  - 'Schedule Follow-up' for medium risk
  - 'Regular Monitoring' for low risk

**Hint:** Combine multiple tables, aggregations, CASE statements, and window functions.

---

## Submission Guidelines

1. Complete all exercises in order (beginner to advanced)
2. Test each query before moving to the next
3. Ensure your queries handle NULL values appropriately
4. Use proper formatting and indentation
5. Add comments to complex queries explaining your logic
6. Verify your results make logical sense

**Good luck with your SQL practice!**

### Solution for Problem 1.1

In [ ]:
-- Write your query here for Problem 1.1

### Solution for Problem 1.2

In [ ]:
-- Write your query here for Problem 1.2

### Solution for Problem 1.3

In [ ]:
-- Write your query here for Problem 1.3

### Solution for Problem 1.4

In [ ]:
-- Write your query here for Problem 1.4

### Solution for Problem 1.5

In [ ]:
-- Write your query here for Problem 1.5

### Solution for Problem 2.1

In [ ]:
-- Write your query here for Problem 2.1

### Solution for Problem 2.2

In [ ]:
-- Write your query here for Problem 2.2

### Solution for Problem 2.3

In [ ]:
-- Write your query here for Problem 2.3

### Solution for Problem 3.1

In [ ]:
-- Write your query here for Problem 3.1

### Solution for Problem 3.2

In [ ]:
-- Write your query here for Problem 3.2

### Solution for Problem 3.3

In [ ]:
-- Write your query here for Problem 3.3

### Solution for Problem 3.4

In [ ]:
-- Write your query here for Problem 3.4

In [ ]:
-- Write your query here for Problem 3.5

### Solution for Problem 4.1

In [ ]:
-- Write your query here for Problem 4.1

### Solution for Problem 4.2

In [ ]:
-- Write your query here for Problem 4.2

### Solution for Problem 4.3

In [ ]:
-- Write your query here for Problem 4.3

### Solution for Problem 4.4

In [ ]:
-- Write your query here for Problem 4.4

### Solution for Problem 4.5

In [ ]:
-- Write your query here for Problem 4.5

### Solution for Problem 4.6

In [ ]:
-- Write your query here for Problem 4.6

### Solution for Problem 4.7

In [ ]:
-- Write your query here for Problem 4.7

### Solution for Problem 5.1

In [ ]:
-- Write your query here for Problem 5.1

### Solution for Problem 5.2

In [ ]:
-- Write your query here for Problem 5.2

### Solution for Problem 5.3

In [ ]:
-- Write your query here for Problem 5.3

### Solution for Problem 5.4

In [ ]:
-- Write your query here for Problem 5.4

### Solution for Problem 5.5

In [ ]:
-- Write your query here for Problem 5.5